* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  padding: 20px 0;
  background: #ffffff;
}

.hero {
  margin-top: 130px;
}

.hero__item p {
  padding-left: 15px;
}

.hero__button {
  border: none;
}

.hero__button:hover {
  border: none;
}

.hero__label {
  position: relative;
}

.hero__search::-webkit-search-cancel-button {
  display: none;
}

.hero__search-btn {
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}